# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@your-cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourApp

# Application Configuration
PORT=9999
ASPNETCORE_URLS=http://localhost:9999